Source: lsstack
Section: utils
Priority: optional
Maintainer: Philippe Coval <rzr@gna.org>
Build-Depends: debhelper (>= 8.0.0),
  binutils-dev
Standards-Version: 3.9.4
Homepage: https://github.com/vi/lsstack
#Vcs-Git: git://git.debian.org/collab-maint/lsstack.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/lsstack.git;a=summary

Package: lsstack
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: <insert up to 60 chars description>
 <insert long description, indented with spaces>

